<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="goodee.three.board.mapper.BoardFileMapper">
	<delete id="deleteBoardFile" parameterType="goodee.three.board.vo.Board">
		DELETE FROM boardFile
		WHERE board_no=${boardNo}
	</delete>
	
	<select id="selectBoardFile" parameterType="goodee.three.board.vo.Board" resultType="goodee.three.board.vo.BoardFile">
		SELECT 
			board_no as boardNo,
			file_no as fileNo,
			file_name as fileName,
			extension,
			content_type as contentType,
			size,
			origin_name as originName
		FROM boardFile 
		WHERE board_no = #{boardNo}
	</select>
</mapper>