<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="goodee.three.board.mapper.MemberMapper"> 
	<insert id="insertMember" parameterType="goodee.three.board.vo.Member">
	INSERT INTO member(
		member_id,
		member_pw,
		member_name
	)VALUES(
		#{memberId},
		#{memberPw},
		#{memberName}
	)
	</insert>
	<select id="selectOneMember" parameterType="goodee.three.board.vo.LoginForm" resultType="goodee.three.board.vo.Member">
		SELECT
			member_id as memberId,
			member_name as member_name,
			member_no as memberNo
		FROM member
		WHERE member_id = #{memberId};
	</select>
</mapper>